<html>
<!-- What the page is called in the tab bar  -->
<!-- We will add out stylsheet here later -->
<head>
	{%block head %}
	<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/vendor/fonts.min.css?v=1" />
    <link rel="stylesheet" href="/static/vendor/bootstrap-icons.min.css?v=1" />
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
	
    <link rel="stylesheet" href="/static/style.css" />
	
	<script src="/static/vendor/jquery.min.js?v=1"></script>
	<script src="/static/vendor/popper.min.js?v=1"></script>
	<script src="/static/vendor/bootstrap.min.js?v=1"></script>
    {% endblock %}
</head>
<!-- Put some text on the page -->
<body>
	<div class="container-fluid">
		{%block content %}{% endblock %}
	</div>
</body>
</html>